<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                             http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <display-name>PlexMock Service</display-name>
    <servlet>
        <servlet-name>mock_server</servlet-name>
        <servlet-class>com.plexobject.mock.server.MockService</servlet-class>
        <init-param>
            <param-name>connectionTimeoutMillis</param-name> 
            <param-value>10000</param-value> 
        </init-param>
        <init-param>
            <param-name>recordMode</param-name> 
            <param-value>true</param-value> 
        </init-param>
        <init-param>
            <param-name>urlPrefix</param-name> 
            <param-value>http://localhost:9395</param-value> 
        </init-param>
        <init-param>
            <param-name>dataDir</param-name> 
            <param-value>data</param-value> 
        </init-param>
        <init-param>
            <param-name>maxSamples</param-name> 
            <param-value>10</param-value> 
        </init-param>
        <init-param>
            <param-name>randomResponseOrder</param-name> 
            <param-value>false</param-value> 
        </init-param>
        <load-on-startup>1</load-on-startup>

    </servlet>

    <servlet-mapping>
        <servlet-name>mock_server</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

</web-app>
